<section class="mb-4">
  <h2><%= heading %></h2>
  <div class="table-responsive">
    <table class='table'>
      <thead>
        <tr>
          <th data-col="avatar">Image</th>
          <th data-col="name">Name</th>
          <th data-col="rest" colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "users/row", collection: users, as: :user %>
      </tbody>
    </table>
  </div>
</section>