<div class="d-flex my-2">
  <div class="w-25">
    <%= render "users/tab-button", path: user_path(user), isactive: page == :books do %>
      Books
    <% end %>
  </div>
  <div class="w-25">
    <%= render "users/tab-button", path: favorited_user_path(user), isactive: page == :favorited do %>
      Favorited
    <% end %>
  </div>
</div>
<div id="books-<%= user.id %>">
  <%= render partial: "books/index", locals: {
    heading: page.capitalize,
    books: books,
    empty_message: empty_index_text(user, page)
  } %>
</div>
