<div class="alert alert-danger my-2">
  <div class="font-weight-bold d-flex align-items-center">
    <i class="fa-solid fa-triangle-exclamation mr-2"></i>
    <%= pluralize(model.errors.count, "error") %> prohibited this obj from being saved:
  </div>
  <ul class="m-0">
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>