<div class="row py-2">
  <% case type %>
  <% when :sidebar %>
    <aside class="col-md-3">

    </aside>
    <div class="col-md-8 offset-md-1">
      <%= yield %>
    </div>
  <% when :medium %>
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <%= yield %>
    </div>
  <% when :large %>
    <div class="col-sm-12 col-md-10 col-lg-6 mx-auto">
      <%= yield %>
    </div>
  <% when :full %>
    <div class="col-12 mx-auto">
      <%= yield %>
    </div>
  <% end %>
</div>